body
{
    background-image: url(./img/bg.jpg);
    background-position: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: monospace;
}

.palabra
{
    font-weight: bold;
}

.pista
{
    font-style: italic;
}

.errores
{
    color: red;
}