*
{
    box-sizing: border-box;
    font-family: 'Goldman';
    font-weight: normal;
}

body
{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right,#1ac6ff,#5cd65c)
}

.container-grid
{
    display: grid;
    justify-content: center;
    align-content   : center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
}

.container-grid > button
{
    cursor: pointer;
    font-size: 1.5em;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, 0.75);
}

.container-grid > button:hover
{
    background-color: rgb(255, 255, 255, 0.9);
}

.span-two
{
    grid-column: span 2;
}

.container-flex
{
    grid-column: 1/5;
}